@use '../../../styles/media.scss' as *;

.button {
  flex: 0 0 auto;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red);
  @include tablets {
    width: 33px;
    height: 33px;
  }
}