@use  '../styles/media.scss' as *;

.email {
  padding: 0 8px 0 27px;
  min-width: 390px;
  border-radius: 40px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  @include tablets {
    min-width: 360px;
    padding: 0 4px 0 20px;
  }
  @include phones {
    min-width: 280px;
  }
}

.email__input {
    width: 100%;
    padding: 16px 0;
    background-color: transparent;
    @include tablets {
      padding: 10px 0;
    }
}