@use  '../styles/media.scss' as *;

.counter {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5% 0;
}

.counter__shapeLeft {
  width: 23%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: introLeft 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  @include tablets {
    opacity: 1;
    animation: none;
    width: 42%;
    top: -135px;
    left: -29px;
  }
  @include phones {
    top: -152px;
    left: -11px;
    width: 59%;
  }
}
.counter__shapeRight {
  width: 14%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  animation: introRight 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  @include tablets {
    animation: none;
    opacity: 1;
    width: 38%;
    right: -46px;
  }
  @include phones {
    width: 54%;
    right: -49px;
    top: -60px;
  }
}

@keyframes introLeft {
  0% {
    top: -200px;
    left: -200px;
  }
  
  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes introRight {
  0% {
    top: -100px;
    right: -100px;
  }
  
  100% {
    top: 0;
    right: 0;
    opacity: 1;
  }
}