 @use '../styles/media.scss' as *;

.events {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5% 0;
}

.events__container {
  @include container
}

.events__list {
  display: flex;
  justify-content: center;
  @include tablets {
    flex-direction: column;
    justify-content: flex-start;
  }
}