@use '../../../styles/media.scss' as *;

.title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: var(--color-gray);
  text-align: center;
  opacity: 0;
  animation: intro 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  position: relative;
  @include tablets {
    opacity: 1;
    animation: none;
    font-size: 38px;
  }
} 

@keyframes intro {
  0% {
    opacity: 0;
    top: -30px;
  }
  
  100% {
    opacity: 1;
    top: 0;
  }
}