@use  '../../../styles/media.scss' as *;

.button {
  width: 13%;
  min-width: 210px;
  padding: 16px 20px 16px 28px;
  border-radius: 40px;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  @include tablets {
    width: 33%;
  }
  @include phones {
    width: 77%;
  }
}
